@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
	background-color: #edeef0;
	font-family: 'Tahoma', normal, 10pt;
}
.wrapper {
width: 700px;
height:100%;
margin:0 auto;
display: flex;
margin-bottom: 20px;

}

.header {
	margin:0 auto;
	width: 700px;
	height: 35px;
	background: #507299;
	border-radius: 10px 10px 0 0;
}

.header p {
	font-family: 'Lobster', cursive;
	font-size: 16pt;
	color: white;
	padding: 5px 0 5px 15px;
}

.wrapper__photo {
	background: #FFF;
	max-height: 250px;
	max-width: 160px;
}
.wrapper__photo img{
	max-width: 130px;
    	max-height: 200px;
    	margin: 15px;
	border-radius: 15px;
}

.wrapper__about {
	background: #FFF;
	margin-left: 20px;
	width: 505px;
	padding-left: 15px;
	font-weight: 400;
}

.caption-photo {
	width: 130px;
	margin: -10px 15px;
	font-family: Tahoma;
	font-weight: bold;
    	font-size: 11pt;
    	background: #DFE6ED;
	text-align: center;
}
.social {
	font-family: 'Lobster', cursive;
}

.wrapper__about a {
	text-decoration: none;
}
.wrapper__separate-line {
	margin: 15px 15px 15px 0;
	height: 1px;
	width: 485px;
	background-color: #edeef0;
}

.wrapper__separate-half-line {
	height: 1px;
	width: 430px;
	background-color: #edeef0;
	margin-left: 5px;
}

.wrapper__edu {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.wrapper__edu-content {
	display: flex;
	align-items: baseline;
	color: #6888A8;
	
}

.wrapper__edu-content p {
	
	margin-right: 80px;
	width: 37px;
	color: #828282;
}
